<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="appComponent.sidenavMain.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Projeto01</span>
    <span class="fill-space"></span>
    <mat-icon class="example-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular Forms</a>
    </div>

    <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/templateForm">Form - Template Driven</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dataForm">Form - Data Driven</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div> -->